body {
  IMG_8817.JPG: url('background.jpg'); /* Palitan mo kung iba ang file name ng image mo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* ← ito ang importante, para nasa itaas */
  align-items: center;
  padding-top: 40px; /* space mula sa itaas */
}

#clock {
  font-size: 60px;
  margin: 5px;
}

#date {
  font-size: 25px;
  margin: 5px;
}

#day {
  font-size: 25px;
  margin: 5px;
  font-weight: bold;
}
