body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#clock {
  font-size: 60px;
  color: limegreen;
  font-family: 'Courier New', Courier, monospace;
}
#date {
  color: blue;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  text-align: center;
}
