body {
  background-image: url('IMG_8817.JPG'); /* <- EXAKTO ang spelling at caps! */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}
}

#clock {
  font-size: 60px;
  margin: 5px;
}

#date {
  font-size: 25px;
  margin: 5px;
}

#day {
  font-size: 25px;
  margin: 5px;
  font-weight: bold;
}
